*.o
*.cmd
.config
.config.old
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/arm/boot/Image
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/uImage
arch/arm/boot/zImage
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
arch/arm/lib/lib.a
firmware/imx/epdc_E060SCM.fw
firmware/imx/epdc_E060SCM.fw.gen.S
firmware/imx/epdc_E60_V110.fw
firmware/imx/epdc_E60_V110.fw.gen.S
firmware/imx/epdc_E60_V220.fw
firmware/imx/epdc_E60_V220.fw.gen.S
firmware/imx/epdc_E97_V110.fw
firmware/imx/epdc_E97_V110.fw.gen.S
firmware/imx/sdma/sdma-imx6q-to1.bin
firmware/imx/sdma/sdma-imx6q-to1.bin.gen.S
firmware/rt2870.bin.gen.S
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
scripts/basic/fixdep
scripts/bin2c
scripts/genksyms/genksyms
scripts/genksyms/keywords.c
scripts/genksyms/lex.c
scripts/genksyms/parse.c
scripts/genksyms/parse.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio
vmlinux
